@{
    ViewData["Title"] = "Apagar Contato";
}

<div class="text-center">
    <h1 class="display-4">Apagar Contato</h1>
    <h3>Realmente deseja apagar o contato (Lissandra) ?</h3>

    <button type="submit" class="btn btn-outline-danger">APAGAR</button>
    <br />
    <a class="btn btn-outline-secondary" asp-asp-controller="Contato" asp-action="Index">Voltar</a>


</div>
